<input
  (input)="terms$.next($event.target.value)"
  type="text"
  placeholder="search..."/>
<ul class="collection">
  <li *ngFor="let contact of contacts | async" class="collection-item avatar">
    <a [routerLink]="['/detail', contact.id]">
      <img [src]="contact.image" [alt]="contact.name" class="circle">
      <span class="title">{{contact.name}}</span>
    </a>
  </li>
</ul>
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large"><i class="large material-icons" [routerLink]="['/detail/new']">add</i></a>
</div>
